

.ajouterContainer{
    display: flex;
    flex-direction: row;
    padding: 2em;
    }

.formAjouter{
    display: flex;
    padding: 3em;
}

.button{
    display: flex;
    padding: 3em;
}


.colorRed{
    color:red;
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
}

.ok{
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
}

td, th{
    border: 1px solid blue;
    margin: 0%;
    padding: 0%;
    width: 300px;
    height: 50px;
}


.container{
    display: flex;
    margin-top: 20%;
    justify-content: center;
    justify-content: center;
}

.delete{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 75%;
    padding: 40px 90px;
    background-color: red;
    justify-content: center;
    /* align-items: center; */
    }
    #mynetwork {
        width: 600px;
        height: 400px;
        border: 1px solid lightgray;
    }
#menu{
    display: flex;
    justify-content: space-around;
}
a.menuBTN {
    text-decoration: none;
    padding: 10px 30px;
    background-color: blue; 
    color: white;
    border: 1px solid gray;
    border-style:inset;
    }
    a.leBouton:hover {
    background-color: yellow;
    color:red;
    
    }